* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--texto);
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none; 
  box-sizing: border-box;
}

:root {
  --purple: #74487D;
  --light-purple: #DE84F0;
  --light-green: #B6F06C;
  --texto: #333333;
  --green: #95CB50;
}

/* incluir os comentários na página texto e separar os arquivos css */
/* fazer aquele esquema de aproveitar o mesmo html (e ver se funciona com o CSS tbm)  */
/* separar os arquivos CSS um pra cada página (apagar o que não é utilizado na página específica) */

/* na página texto:
	< !-- incluir uma div com o campo: "como citar esse artigo"com a opção de botão pra pessoa copiar a citação -->< !-- incluir os comentários do texto e referenciar as 4.5 estrelas da página de busca -->
*/

body {
  background-color: white;
  /*min-height: 100vh;*/
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin: 0;
  border: 0;
  left: 0px;
  top: 0px;
  background: var(--light-green);
}

header .titles {
  flex-direction: row;
  padding: 0px;
  margin: 0 8px;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;

}

header .titles:hover {
  opacity: 1;
}

main {
  padding-left: 0px;
  margin-left: 0px;;
  border-left: 0px;
}

/* FILTRO E TEXTO (CONTEÚDO) -------- */
.content {
  display: flex;
  flex-direction: row;
}

/* FILTRO --------------------------- */
.filter__ret--purple {
  width: 17.9em;
  height: 31.25em;
  margin: 0px;
  background: var(--light-purple);
  border-radius: 0px 100px 100px 0px;
}

.filter__form input{
  margin-top: 1em;
  margin-left: 2em;
  padding-left: 0.62em;
  margin-right: 0.62em;
}

form .h3 {
padding-top: 0.5em;
margin-left: 2em;
}

/* fixar o filtro na tela */
.filter__ret--purple{
  /*position: relative;*/
  /*position: absolute;*/
  position: fixed;
}


/* BARRA DE BUSCA ------------------ */

/* text-transform: captalize */

div .search {
  /*padding-left: 18.75em;*/
  text-align: center;
  margin-left: 20%
}

.search__searchBar{
  /*position: absolute;*/
  max-width: 32.5em;
  height: 2.5em;
  left: 22em;
  top: 9.375em;
  font-size: 16px;
  font-weight: thin;
  /* colocar o texto mais pro lado */
  padding-left: 1em;
  background: #FFFFFF;
  border: 2px solid var(--light-purple);
  box-sizing: border-box;
  border-radius: 1.5em;
  opacity: 0.7;
  
}

.search__searchBar:hover {
  opacity: 1;
}

.search__button {
  /*position: absolute;*/
  width: 7.5em;
  height:  2.5em;
  left: 45.3125em;
  top: 9.375em;
  background: var(--light-purple);
  border: 2px solid var(--purple);
  color: var(--purple);
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: bold;
  /* fazer o botão "pesquisar"mudar de cor quando passa o mouse */
  opacity: 0.9;
}

.search__button :hover {
  opacity: 1;
}


/* TEXTO CORRIDO (RESULTADO DAS BUSCAS)------- */
.block {
  text-align: justify;
  margin:  2rem 7rem;
  min-width: 10rem; 
  /*padding-right: 170px;*/
}

.search {
  margin: 3.75em 12.5em 0px 12.5em;
}

a {
  margin-bottom: 4px;
}

h3 a{
  color: var(--purple);
  opacity: 0.7;
  max-width: 90%;
 /* essa desgraça não quer ficar em azul, é necessário para que o usuário saiba que esse texto pode ser clicável */
  
}
h3 a:hover{
  opacity: 1;
}

/* falta fazer no menu de home */

/* adicionar uma estrela */

.icon::before {
  font-family: 'Material Icons';
  /*content: "\e838";*/
  content: "\f09a";
  color: var(--green);
  /* aumentar o tamanho da estrela */
}

.icon {
  color: var(--green);
  /*display: row;*/
}

h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  top: 567px;
  background: var(--light-green);
  padding: 10px 0px 16px 45%;
}


@media screen and (max-width: 767.98px) {

  div .search{
    margin: 10%;

  }

  .search__searchBar {
    /* position: absolute; */
    margin-bottom: 10px;
    max-width: 22.5em;
  }

  .block {
  text-align: justify;
  margin: 0;
  }

  /* desenhar o float button */

}

@media screen and (max-width: 1199px) {
  
  div .search{
    margin: 10%;

  }

  .search__searchBar {
    /* position: absolute; */
    margin-bottom: 10px;
    max-width: 32.5em;
  }

  .block {
  text-align: justify;
  margin: 0;
  }

  /* desenhar o float button */
}
