* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--texto);
  text-decoration: none; 
  box-sizing: border-box;
  
}

:root {
  --purple: #74487D;
  --light-purple: #DE84F0;
  --light-green: #B6F06C;
  --texto: #333333;
  --green: #95CB50;
}

/* incluir os comentários na página texto e separar os arquivos css */
/* fazer aquele esquema de aproveitar o mesmo html (e ver se funciona com o CSS tbm)  */
/* separar os arquivos CSS um pra cada página (apagar o que não é utilizado na página específica) */

/* na página texto:
	< !-- incluir uma div com o campo: "como citar esse artigo"com a opção de botão pra pessoa copiar a citação -->< !-- incluir os comentários do texto e referenciar as 4.5 estrelas da página de busca -->
*/

body {
  background-color: white;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin: 0;
  border: 0;
  left: 0px;
  top: 0px;
  background: var(--light-green);
}

header .titulos {
  flex-direction: row;
  padding: 0px;
  margin: 0 8px;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;

}

header .titulos:hover {
  opacity: 1;
}

main {
  padding-left: 0px;
  margin-left: 0px;;
  border-left: 0px;
}

footer {
  top: 567px;
  background: var(--light-green);
  padding: 10px 0px 16px 45%;
}


/* FILTRO --------------------------- */
.filtro {
  width: 287px;
  height: 500px;
  left: 16px;
  margin: 0px;
  background: var(--light-purple);
  border-radius: 0px 100px 100px 0px;
}

.formFiltro input{
  margin-top: 16px;
  margin-left: 32px;
  padding-left: 10px;
  margin-right: 10px;
}

form .h3 {
padding-top: 8px;
margin-left: 32px;
}

/* fixar o filtro na tela */
.conteudo .roxo{
  /*position: relative;*/
  /*position: absolute;*/
  position: fixed;
}

/* BARRA DE BUSCA ------------------ */
.buscar button {
  /*position: absolute;*/
  width: 120px;
  height: 40px;
  left: 725px;
  top: 150px;
  background: var(--light-purple);
  border: 2px solid var(--purple);
  color: var(--purple);
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: bold;
  /* fazer o botão "pesquisar"mudar de cor quando passa o mouse */
  opacity: 0.9;
}

.buscar button:hover {
  opacity: 1;
}

.barraDeBusca {
  /*position: absolute;*/
  /*width: 360px;*/
  height: 40px;
  left: 352px;
  top: 150px;
  font-size: 16px;
  font-weight: thin;
  padding-left: 16px; /* colocar o texto mais pro lado */
  background: #FFFFFF;
  border: 2px solid var(--light-purple);
  box-sizing: border-box;
  border-radius: 24px;
  opacity: 0.7;
  
}

.barraDeBusca:hover {
  opacity: 1;
}

.texto {
  padding-left: 300px;
}

/* FILTRO E TEXTO (CONTEÚDO) -------- */
.conteudo {
  display: flex;
  flex-direction: row;
}

/* TEXTO CORRIDO (RESULTADO DAS BUSCAS)------- */
.bloco {
  text-align: justify;
  margin: 32px 80px 32px 200px;
  padding-right: 170px;
}

.busca {
  margin: 60px 0px 0px 200px;
}

a {
  margin-bottom: 4px;
}

h3 a{
 color: var(--purple);
 opacity: 0.7;
 /* essa desgraça não quer ficar em azul, é necessário para que o usuário saiba que esse texto pode ser clicável */
  
}
h3 a:hover{
  opacity: 1;
}

/* falta fazer no menu de home */

/* adicionar uma estrela */

.icon::before {
  font-family: 'Material Icons';
  /*content: "\e838";*/
  content: "\f09a";
  color: var(--green);
  /* aumentar o tamanho da estrela */
}

.icon {
  color: var(--green);
}

h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}