* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--texto);
  text-decoration: none;
}

:root {
  --purple: #74487D;
  --light-purple: #DE84F0;
  --light-green: #B6F06C;
  --texto: #333333;
  --green: #95CB50;
  }

body {
  background-color: white;
  min-height: 100vh;
}



/* BARRA DE BUSCA ------------------ */
.buscar button {
  /*position: absolute;*/
  width: 120px;
  height: 40px;
  /*left: 725px;*/
  top: 150px;
  background: var(--light-purple);
  border: 2px solid var(--purple);
  color: var(--purple);
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: bold;
  /* fazer o botão "pesquisar"mudar de cor quando passa o mouse */
  opacity: 0.9;
}

.buscar button:hover {
  opacity: 1;
}

.barraDeBusca {
  /*position: absolute;*/
  width: 550px;
  height: 45px;
  /*left: 352px;*/
  /*top: 150px;*/
  font-size: 16px;
  font-weight: thin;
  padding-left: 16px;
  /* colocar o texto mais pro lado */
  background: #FFFFFF;
  border: 1.5px solid var(--light-purple);
  box-sizing: border-box;
  border-radius: 24px;
  opacity: 0.7;

}

.barraDeBusca:hover {
  opacity: 1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  /*padding-top: 0px;*/

}

img {
  padding-bottom: 4px;
  /*margin-top: 16px;*/
}


/* no leiaute atual de desktop, tenho que mudar as unidades de medidas de pixel para rem ou em pra que tudo se adapte a tela maiores 

- talvez seja melhor usar o grid em alguns momentos

*/

@media screen and (max-width: 480px) {

  /* celular */
  /* 
  - colocar o float bottom fixo na tela para o filtro e colocar a opção da pessoa abir e fechar e sse filtro (ele vai abrir e fechar com um botão, mas o efeito vai ser ele fazendo um swipe pra direita e para esquerda.) 
  - pra deixar esse float bottom, é necessário dar um espaço nas bordas pra o conteúdo não ficar em cima.

  - tem que diminuir o tamanho da barra de pesquisa




  */

}

@media screen and (max-width: 768px) {
  /*tablet*/
  /*
  corrigir o menu

  ajeitar o padding das laterais

  
  
  */
}

@media screen and (max-width: 1024px) {
  /* desktops antigos */
}