


/* TEXTO CORRIDO (RESULTADO DAS BUSCAS)------- */
.block {
  text-align: justify;
  /*margin:  2rem 7rem;*/
  /*min-width: 10rem;*/
  /*padding-right: 170px;*/

    display: flex;
    flex-direction: column;
    align-items: inherit;
    

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.title {
    color: var(--purple);
    opacity: 0.7;
    font-weight: 700;
    font-size: 1rem;
    text-transform: lowercase;
    /*text-transform: capitalize;*/
    text-align: justify;

    margin-bottom: 2rem;
  
}

h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
}

.icon {
  color: var(--green);
  padding-left: 2em;
  font-size: 1.3em;
}

.description {
  margin-bottom: 1.5rem;
}


.title:hover{
  opacity: 1;
  cursor: pointer;
  transition: all .1s ease-in-out;

}

.icon::before {
  content: "\2605";
  color: var(--green);
  padding-right: 0.3em;
  font-size: 1.3em;
}

@media screen and (min-width: 1024px) {
    .block {
      
    padding-left: calc((100% - 940px)/2);
    padding-right: calc((100% - 940px)/2);

    
    }

    .title, .description {
      margin-bottom: 0.5em;
    }
}