* {
  color: var(--texto);
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none; 
  box-sizing: border-box;
}

:root {
  --purple: #74487D;
  --light-purple: #DE84F0;
  --light-green: #B6F06C;
  --texto: #333333;
  --green: #95CB50;
}


body {
  background-color: white;
  font-family: 'Open-sans', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  
}

/* FILTRO E TEXTO (CONTEÚDO) -------- */
.search {
  padding-right: 6%;
  padding-left: 6%;
  margin-top: 3.75em; 
  margin-bottom: 12.5em;
  


}



@media screen and (max-width: 767.98px) {

  div .search{
    margin: 10%;

  }

  .search__searchBar {
    margin-bottom: 10px;
    max-width: 22.5em;
  }

  .block {
  text-align: justify;
  margin: 0;
  }

  /* desenhar o float button */

}


@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
        /* aqui eu mantenho todo o conteúdo da tela m 940 px - pra cumpri o grid que eu aprendi nas aulas de figma */
    }

    .search {
      /* margem esquerda do filter */
      margin-left: 10.5em;
      text-align: center;
    }
}
