/* FILTRO --------------------------- */
/* inutilizado -- colocar no gitIgnore esse e todos os css que não estou usando */

.float__btn{
	position: fixed;
	left: -2px;
	
  content: "\300B";
  visibility: visible;
}

  .btnCircular{
    border-radius: 0px 100px 100px 0px;
    content: "\300B"
  }

  .btnPrincipal{
    font-size: 20px;
    background-color: var(--light-purple);
    height: 65vh;
    content: "\300B"
  }

  .header__menu div:first-child {
    height: 21%;
  }

  .fa {
    content: "\300B"
  }


/* fixar o filtro na tela */
.filter__ret--purple {
  position: fixed;

  opacity: 0; 
}

/* active */

  .filter__ret--purple.active {
    opacity: 1;
      width: auto;
      height: 65vh;
      background: var(--light-purple);
      border-radius: 0px 100px 100px 0px;

      
      
  }

  .filter__form.active{

    margin: 1em;
    padding: 0 2em;
    
    
  }

  .filter__form input{
    margin-top: 0.5em;
  }


/* filtro nas telas grandes ok */
@media screen and (min-width: 1199px) {

  .filter__ret--purple {
    position: fixed;
    float: top;
    width: auto;
    height: auto;
    background: var(--light-purple);
    border-radius: 0px 100px 100px 0px;
    opacity: 1;
    margin-bottom: 0;
  }

  .filter__form{
    margin: 1em;
    padding: 0 24px 24px 0;
    
    
  }

  .filter__form input{
    margin-top: 1em;
    margin-left: 2em;
    padding-left: 0.62em;
    margin-right: 0.62em;
  }

  form .h3 {

    margin-left: 2em;
    padding: 0 24px 24px 0;
  }

  .float__btn{
    visibility: hidden;

  
  }

}