/* FILTRO --------------------------- */

.float__btn{
	position: fixed;
	float: top;
	top: 60px;
	left: 20px;
	z-index: 100;
}

  .btnPesquisarInput, .btnPesquisarBtn , .btnMaisBotoesBtn, .btnMaisBotoesGrupo{
    display: inline-block;
  }

  .btnCircular{
    border-radius: 50%;
  }

  .btnPrincipal{
    font-size: 20px;
    padding: 15px;
    background-color: var(--light-purple);
    border: 1px solid black;
  }

  .btnSecundario{
    font-size: 15px;
    padding: 10px;
  }

  .header__menu div:first-child {
    height: 20%;
  }


.filter__section {

}


.filter__ret--purple {
  
}

.filter__form{

}

.filter__form input{
  
}

form .h3 {

}

/* fixar o filtro na tela */
.filter__ret--purple{
  /*position: relative;*/
  /*position: absolute;*/
  /*position: fixed;*/
  /*z-index: 10;*/
}


/* filtro nas telas grandes ok */
@media screen and (min-width: 1199px) {

  .filter__flex {
  
    
  }

  .filter__ret--purple {
    
    width: 17.9em;
    height: 31.25em;
    background: var(--light-purple);
    border-radius: 0px 100px 100px 0px;
  }

  .filter__form{
    margin-top: 1em;
  }

  .filter__form input{
    margin-top: 1em;
    margin-left: 2em;
    padding-left: 0.62em;
    margin-right: 0.62em;
  }

  form .h3 {
  padding-top: 0.5em;
  margin-left: 2em;
  }

/* fixar o filtro na tela */
  .filter__ret--purple{
    /*position: relative;*/
    /*position: absolute;*/
    position: fixed;
    
  }

}