
.flexbox {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  
}

.text > h2, h3 {
  font-weight: 700;
  font-size: 1em;
}


.quote {
  padding: 10px;
  border: 2px solid var(--texto);
  background-color: var(--light-green);
  color: var(--texto);
  font-weight: bold;
  font-size: 0.9em;
  margin-left: 2em;
  margin-top: 5rem;

}

#textarea-id1,
#textarea-id2 {
  border: 0.1em solid var(--texto);
  padding: 0.3em;
  margin-bottom: 1em;
  max-width: 18.5em;
  min-height: 13.5em;
  font-size: 0.9em;
  font-weight: bold;
  
}

/* comentários ------------------------- */
.iconComent::after {
  font-family: 'Material Icons';
  color: var(--texto);
  content: "\f09a \f09a \f09a \f09a \f09a";


}

.comment {

  margin: 16px 0 16px 0px;
  font-size: 16px;
  background-color: var(--light-green);
  padding: 16px;
  width: 70%;

}

#textarea-id3 {
  font-size: 16px;
  padding: 16px;
  width: 30.9375em;
  height: 5.625em;
}

.evaluation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 6px;
  align-items: center;

}

.evaluation button {
  background-color: var(--light-purple);
  color: var(--purple);
  opacity: 0.8;
  padding: 8px;
  margin: 8px;
  align-items: center;
}

.evaluation button:hover {
  opacity: 1;
  cursor: pointer;
  transition: all .1s ease-in-out
}

.comments {

  max-width: 70%;
}

.comment__icon {
  color: var(--green);
}

.comment__icon:before {
  font-family: 'Material Icons';
  content: "\f09a";
  color: var(--green);

}

.comment__test {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: auto;
  font-size: 16px;
  margin: 16px 0px 8px 16px;
  font-weight: bold;
  padding: 16px 0px 0px 0px;

}

.perfil img {
  margin-right: 10px;
}

#textareaComentario {
  padding: 8px;
  margin: 8px;
}

/* coloquei o nome dos perfis acima */
div.perfil {
  display: flex;
  align-items: flex-start;
}

/* fazendo o nome da pessoa ser clicável */
div.perfil p {
  opacity: 0.8;
}


div.perfil p:hover {
  opacity: 1;
  cursor: pointer;
  transition: all .1s ease-in-out
}


@media screen and (max-width: 768px) {

  /* celular */

  .flexbox {
  display:flex;
  flex-direction: column;
  
  }

  .quote {

    margin: 3em auto
  }

  #textarea-id3 {
    width: 100%;
    height: auto;
  }

  .comments {

  max-width: 100%;
}

.comment {
  padding: 16px;
  width: auto;

}


}

@media screen and (min-width: 1024px) {

  .text>h2, .text>h3 {
  font-size: 1.5em;
  
  }
}
